body {
  margin: 0;
 padding: 0%;
 box-sizing: border-box;
}

/*----- Utility styles--*/
.container {
 margin: 0px 100px;
}

/*---- Navigation-----*/
.navbar {
  background-color: aqua;
  height: 100px;
  width: 100%;
}
.navbar-band {
display: flex;
justify-content: center;
width: 70%;
}
.nav-ul{
  display: flex;
}
.nav-ul li {
  list-style: none;
}

/*---- Navigation Drop downs -----*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
